.workspace {
    overflow: hidden;
}

.workspace .viewport {
    height: 100%;
}
.workspace .viewport > * {
    height: 100%;
}

.level-editor .console textarea[name=console] {
    font-family: monospace;
    height: 8em;
    width: 100%;
}
