html, body {
    height: 100%;
}

.scene-editor {
    height: 100%;
}

.scene-editor button {
    margin: .2em;
}

.workspace {
    cursor: default;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-user-select: none;
}

.workspace .viewport {
    height: 100%;
}

.workspace .viewport,
.workspace .viewport * {
    -webkit-user-select: none;
}

.workspace .viewport > canvas {
    image-rendering: pixelated;
}

.workspace .viewport .coords {
    /*background-color: rgba(0,0,0,.5);*/
    color: #fff;
    font-family: monospace;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
}

.scene-editor .console {
    background: rgba(0,0,0, 1);
    border: solid 1px #509bf5;
    left: 50%;
    height: 80%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.scene-editor .console.hidden {
    display: none;
}

.scene-editor .console .content {
    height: 100%;
    padding: 1em;
}

.scene-editor .console textarea[name=console] {
    box-sizing: border-box;
    display: block;
    font-family: monospace;
    height: 90%;
    width: 100%;
}

.workspace .panel {
    background-color: rgba(0,0,0,.85);
    border-color: rgba(160,195,210,.3);
    border-radius: 0;
    bottom: 0;
    position: absolute;
    top: 0;
    width: 150px;
}

.workspace legend {
    color: #fff;
    font-size: 1.2em;
}

.workspace .panel fieldset {
    margin: .5em;
    padding: 0;
}

.workspace .panel fieldset fieldset {
    margin-left: 0;
    margin-right: 0;
}

.workspace .panel fieldset fieldset legend {
    font-size: .9em;
}

.workspace .panel label {
    align-items: center;
    display: flex;
    margin: .2em 0;
}

.workspace .panel label span {
    display: flex;
}

.workspace .panel input[type=checkbox] {
    margin: .2em .5em .2em 0;
}

.workspace .panel.view {
    border-right-width: 1px;
    left: -140px;
}

.workspace .panel.view:hover,
.workspace .panel.view.locked {
    left: 0;
}

.workspace .panel.item {
    border-left-width: 1px;
    right: -140px;
    text-align: left;
}

.workspace .panel.item:hover,
.workspace .panel.item.locked {
    right: 0;
}

.workspace .panel.item .properties input[type=text] {
    color: #fff;
    font-family: monospace;
    padding: .1em .2em;
    text-align: right;
    width: 5em;
}

.workspace .panel.item .properties input[disabled] {
    opacity: .5;
}

.workspace .palette {
    background-color: rgba(0,0,0,.6);
    left: 25%;
    margin: -5px;
    position: absolute;
    overflow: auto;
    right: 25%;
    top: 5%;
    transition: all .3s ease;
    width: 50%;
}

.workspace .palette.hidden {
    top: -100%;
}

.workspace .palette .animation {
    border: solid 1px rgba(0,0,0,0);
    box-shadow: 0 0 8px 0 rgba(0,0,0,1);
    box-sizing: border-box;
    float: left;
    image-rendering: pixelated;
    margin: 2px;
    pointer-events: all;
    zoom: 2;
}

.workspace .palette .animation.selected {
    border-color: rgba(0, 255, 255, .8);
}
