.workspace {
    border-bottom-width: 1px;
    height: 750px;
    overflow: hidden;
    position: relative;
}

.workspace canvas {
	image-rendering: pixelated;
}

.workspace .slice {
    border: dotted 1px #fff;
    box-sizing: border-box;
    display: block;
    height: 16px;
    position: absolute;
    width: 16px;
}

.workspace .slice.selected {
    border: solid 1px cyan;
}

