body {
  display: flex;
  font-family: sans-serif;
}

fieldset {
  border: none;
  font-size: .8em;
}

#control {
  margin: .5em;
}

#mocha {
  flex: 1;
  height: 100%;
  margin: 0;
  overflow: auto;
}

#mocha-report {
    margin: 1em 0;
}
