* {
    color: #666666;
    border-color: #303030;
    border-style: solid;
    border-width: 0;
}

body {
    background: #101010;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
}

input {
    background: transparent;
    border-width: 1px;
}

#game {
    background: inherit;
    margin: 0 auto;
    position: relative;
}

#game.fullscreen {
    height: 100%;
    width: 100%;
}

#game #screen {
    display: block;
    margin: 0 auto;
    position: relative;
    height: 532px;
    width: 800px;
}

#game.fullscreen #screen {
    height: 100%;
    width: 100%;
}

#screen > canvas {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

#screen .overlay {
    position: absolute;
    z-index: 2;
}

#screen .overlay .energy {
    left: 20px;
    position: absolute;
    top: 20px;
}

#screen .overlay .energy {
    display: flex;
    left: 20px;
    position: absolute;
    top: 20px;
}

#screen .overlay .energy > * {
    background: #000;
    height: 112px;
    margin-right: 5px;
    position: relative;
    width: 16px;
}

#screen .overlay .energy > * > .amount {
    background-image: url('sprites/meters.gif');
    background-position: 0 100%;
    background-size: 160px 112px;
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
}

#screen .overlay .energy > .weapon.p {
    display: none;
}
#screen .overlay .energy > .weapon.item > .amount {
    background-position-x: -16px;
}
#screen .overlay .energy > .weapon.c > .amount {
    background-position-x: -32px;
}
#screen .overlay .energy > .weapon.f > .amount {
    background-position-x: -48px;
}
#screen .overlay .energy > .weapon.m > .amount {
    background-position-x: -64px;
}
#screen .overlay .energy > .weapon.q > .amount {
    background-position-x: -80px;
}
#screen .overlay .energy > .weapon.b > .amount {
    background-position-x: -96px;
}
#screen .overlay .energy > .weapon.a > .amount {
    background-position-x: -112px;
}
#screen .overlay .energy > .weapon.h > .amount {
    background-position-x: -144px;
}

#nes-controller {
    background: #eae9de url('nes-controller.png');
    background-size: contain;
    margin: 10px auto;
    height: 345px;
    position: relative;
    width: 792px;
    zoom: .5;
}

#nes-controller a {
    cursor: pointer;
    display: block;
    height: 20px;
    position: absolute;
    width: 20px;
}

#nes-controller .direction {
    height: 155px;
    left: 62px;
    position: absolute;
    top: 122px;
    width: 155px;
}

#nes-controller .left {
    left: 10px;
    top: 55px;
    height: 44px;
    width: 44px;
}

#nes-controller .right {
    left: 102px;
    top: 55px;
    height: 44px;
    width: 44px;
}

#nes-controller .up {
    left: 56px;
    top: 9px;
    height: 44px;
    width: 44px;
}

#nes-controller .down {
    left: 56px;
    top: 102px;
    height: 44px;
    width: 44px;
}

#nes-controller .action {
    height: 86px;
    left: 514px;
    position: absolute;
    top: 201px;
    width: 189px;
}

#nes-controller .a {
    height: 79px;
    right: 3px;
    top: 3px;
    width: 79px;
}

#nes-controller .b {
    left: 3px;
    top: 3px;
    height: 79px;
    width: 79px;
}

#nes-controller .operation {
    height: 40px;
    left: 278px;
    position: absolute;
    top: 217px;
    width: 191px;
}

#nes-controller .select {
    left: 7px;
    top: 7px;
    height: 25px;
    width: 65px;
}

#nes-controller .start {
    height: 25px;
    right: 7px;
    top: 7px;
    width: 65px;
}

#game.fullscreen #nes-controller {
    background: transparent;
    bottom: 0;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    width: 100%;
    zoom: .75;
}

#game.fullscreen #nes-controller .b,
#game.fullscreen #nes-controller .a,
#game.fullscreen #nes-controller .start,
#game.fullscreen #nes-controller .select,
#game.fullscreen #nes-controller .direction {
    background: url('nes-controller-transparent.png');
}
#game.fullscreen #nes-controller .direction {
    background-position: -62px -122px;
    bottom: 10px;
    left: 10px;
    top: auto;
}
#game.fullscreen #nes-controller .action {
    left: auto;
    bottom: 10px;
    right: 10px;
    top: auto;
}
#game.fullscreen #nes-controller .operation {
    bottom: 0;
    left: 0;
    margin: 0 auto;
    right: 0;
    top: auto;
}
#game.fullscreen #nes-controller .a {
    background-position: -621px -203px;
}
#game.fullscreen #nes-controller .b {
    background-position: -517px -203px;
}
#game.fullscreen #nes-controller .select {
    background-position: -285px -224px;
}
#game.fullscreen #nes-controller .start {
    background-position: -396px -224px;
}
