* {
    color: #666666;
    border-color: #303030;
    border-style: solid;
    border-width: 0;
}

body {
    background: #101010;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
}

body > #screen {
    display: block;
    margin: 0 auto;
}

input {
    background: transparent;
    border-width: 1px;
}

#screen {
    margin: 0 auto;
    height: 532px;
    position: relative;
    width: 800px;
}

#screen.fullscreen {
    height: 100%;
    width: 100%;
}

#screen .overlay {
}

#screen .overlay .energy {
    left: 20px;
    position: absolute;
    top: 20px;
}

#screen .overlay .energy {
    display: flex;
    left: 20px;
    position: absolute;
    top: 20px;
}

#screen .overlay .energy > * {
    background: #000;
    height: 112px;
    margin-right: 5px;
    position: relative;
    width: 16px;
}

#screen .overlay .energy > * > .amount {
    background-image: url('sprites/meters.gif');
    background-position: 0 100%;
    background-size: 160px 112px;
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
}

#screen .overlay .energy > .weapon.p {
    display: none;
}
#screen .overlay .energy > .weapon.item > .amount {
    background-position-x: -16px;
}
#screen .overlay .energy > .weapon.c > .amount {
    background-position-x: -32px;
}
#screen .overlay .energy > .weapon.f > .amount {
    background-position-x: -48px;
}
#screen .overlay .energy > .weapon.m > .amount {
    background-position-x: -64px;
}
#screen .overlay .energy > .weapon.q > .amount {
    background-position-x: -80px;
}
#screen .overlay .energy > .weapon.b > .amount {
    background-position-x: -96px;
}
#screen .overlay .energy > .weapon.a > .amount {
    background-position-x: -112px;
}
#screen .overlay .energy > .weapon.h > .amount {
    background-position-x: -144px;
}

#nes-controller {
    background: url('nes-controller.png');
    background-size: contain;
    margin: 10px auto;
    height: 345px;
    position: relative;
    width: 792px;
    zoom: .5;
}
#nes-controller > a {
    cursor: pointer;
    display: block;
    height: 20px;
    position: absolute;
    width: 20px;
}

#nes-controller > .left {
    left: 72px;
    top: 177px;
    height: 44px;
    width: 44px;
}

#nes-controller > .right {
    left: 164px;
    top: 177px;
    height: 44px;
    width: 44px;
}

#nes-controller > .up {
    left: 118px;
    top: 131px;
    height: 44px;
    width: 44px;
}

#nes-controller > .down {
    left: 118px;
    top: 224px;
    height: 44px;
    width: 44px;
}

#nes-controller > .a {
    left: 621px;
    top: 203px;
    height: 80px;
    width: 80px;
}

#nes-controller > .b {
    left: 517px;
    top: 203px;
    height: 80px;
    width: 80px;
}

#nes-controller > .select {
    left: 285px;
    top: 224px;
    height: 25px;
    width: 65px;
}

#nes-controller > .start {
    left: 396px;
    top: 224px;
    height: 25px;
    width: 65px;
}
